/backup
/data
/graphs
/graphs_same_topo
/graphs_same_topo_test
/graphs_test
/graphs_test_1
/plot
/plot_same_topo
/plot_same_topo_test
/plot_test
/plot_test_1
/presentations
/processed
/raw
results.xlsx
test_run.py
/.idea
/__pycache__
.gitignore.txt
rough.py
*.out

